* {
    box-sizing: border-box;
}

@media screen and (min-width: 1200px) {

    body{
        background-color: #E5E5E5;
    }
    .container{
        width: 1600px;
        margin: 0 auto;
        background-color: var(--colorW);
    }
}

.box1{
    padding-top: 56px;
    margin-left: 122px;
    margin-right: 138px;
}

header{
    display: flex;
    justify-content: space-between;
}

.head {
    display: flex;
    align-items: center;
}

.head p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorMainBlue);
    color: var(--colorW);
    width: 44.06px;
    height: 41px;
    border-radius: 25px;
    font-size: 26px;
    font-family: var(--fondMulish);
    font-weight: 700;
}

.head h1 {
    margin-left: 13px;
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 24px;
    color: var(--colorGrey);
    width: 115px;
    height: 30px;
    margin-top: 6px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar li {
    margin-right: 43px;
}

.navbar a {
    text-decoration: none;
    color: var(--colorNav);
    font-family: var(--fondMulish);
    font-weight: 400;
}

.navbar li:first-child a {
    font-weight: 700;
}

.head-content {
    display: flex;
}

.head-text {
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding-right: 167px;
}

.img-1 {
    display: flex;
    flex: 50%;
}

.head-text h2 {
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 48px;
    margin-top: 203px;
}

.head-text p {
    color: var(--colorText);
    font-family: var(--fondMulish);
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 25px;
    width: 85%;
}
.btn-t {
    color: var(--colorW);
    background-color: var(--colorMainBlue);
    font-size: 18px;
    font-family: var(--fondMulish);
    font-weight: 700;
    line-height: 60px;
    border-radius: 45px;
    margin-top: 45px;
    width: 45%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s;
}

.btn-t:hover {
    transform: scale(0.80);
}

.img-1 {
    margin-top: 50px;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box2 h3{
    font-family: var(--fondMulish);
    font-weight: 700;
    color: var(--colorBlack);
    font-size: 36px;
    line-height: 56px;
    margin-top: 191px;
    text-align: center;
}

.spn{
    height: 2px;
    background-color: var(--colorBlack);
    width: 56px;
    border-radius: 5px;
    margin-top: 26px;
}

.box2 p{
    font-family: var(--fondMulish);
    font-size: 18px;
    margin-top: 33px;
    margin-bottom: 80px;
    line-height: 30px;
    padding: 0 160px;
    font-weight: 300;
    text-align: center;
    color: var(--colorGrey);
}

.our-service{
    margin-left: 240px;
    margin-right: 190px;
}

.card{
    display: flex;
    /* padding: 0 102px; */
    /* margin-right: 34px; */
    justify-content: center;
}

.card-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    /* margin-bottom: 69px; */
}

.icon{
    position: absolute;
    right: -50px;
    top: 265px;
    color: var(--colorIcon);
}
.icon img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card1, .card2{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    background-color: var(--colorW);
    width: 32%;
    height: 50%;
    margin-bottom: 30px;
    padding-top: 54px;
    padding-left: 37px;
    cursor: pointer;
    transition: all .3s;
}

.card1:hover{
    transform: scale(0.85);
}

.card2:hover{
    transform: scale(0.85);
}

.card1 img, .card2 img{
    height: 90.01px;
    width: 91.98px;
}

.card1 strong, .card2 strong{
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    margin-top: 22px;
}

.card1 p{
    font-size: 16px;
    font-family: var(--fondMulish);
    font-weight: 300;
    color: var(--colorGrey);
    line-height: 28px;
    margin-right: 75px;
}

.card2 p{
    font-size: 16px;
    font-family: var(--fondMulish);
    font-weight: 300;
    color: var(--colorGrey);
    line-height: 28px;
    margin-right: 80px;
}

.btn{
    border: 1.4px solid var(--colorMainBlue);
    border-radius: 55px;
    padding: 1px 51px;
    text-align: center;
    background: var(--colorW);
    margin-top: 80px;
    margin-left: 480px;
}

.btn a{
    color: var(--colorMainBlue);
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 18px;
    line-height: 62px;
    text-align: center;
    text-decoration: none;
}

.box3{
    margin-top: 200px;
    margin-left: 135px;
    margin-right: 192px;
    display: flex;
}

.img-3{
    flex: 50%;
}

.img-3 img{
    padding-top: 30px;
    padding-right: 164px;
}

.box3-content{
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding-top: 60px;
    padding-left: 122px;
}

.box3-content strong{
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    /* padding-right: 30px; */
}

.box3-content span{
    width: 56px;
    height: 2px;
    margin-top: 26px;
    border: 1px solid var(--colorBlack);
}

.box3-content p{
    font-family: var(--fondMulish);
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: var(--colorGrey);
    margin-top: 31px;
    /* padding-right: 110px; */
}

.btn-3{
    border: 1.4px solid var(--colorMainBlue);
    border-radius: 55px;
    padding: 1px 51px;
    text-align: center;
    margin-top: 37px;
    background: var(--colorW);
}

.btn-3 a{
    color: var(--colorMainBlue);
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

.box4{
    position: relative;
    margin-left: 280px;
    display: flex;
    margin-bottom: 222px;
}

.icon2{
    position: absolute;
    right: 0;
    color: var(--colorIcon);
}
.icon2 img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box4-content{
    padding-top: 257px;
    margin-right: 71px;
    display: flex;
    flex-direction: column;
}

.box4-content strong{
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    height: 96px;
    width: 65%;
}

.box4-content span{
    width: 56px;
    height: 2px;
    margin-top: 26px;
    border: 1px solid var(--colorBlack);
}

.box4-content p{
    font-family: var(--fondMulish);
    color: var(--colorGrey);
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin-top: 31px;
    padding-right: 80px;
}

.btn-4{
    border: 1.4px solid var(--colorMainBlue);
    border-radius: 55px;
    padding: 1px 51px;
    text-align: center;
    margin-top: 37px;
    background: var(--colorW);
}

.btn-4 a{
    color: var(--colorMainBlue);
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

.img-4 img{
    padding-top: 170px;
    padding-right: 164px;
}

.box5{
    margin: 0 auto;
    background-image: linear-gradient(#67C3F3, #5A98F2);
    width: 70%;
    height: 85%;
    position: relative;
    border-radius: 14px;
    margin-bottom: 270px;
}
.icon3{
    position: absolute;
    right: -50px;
    top: -20px;
}
.icon3 img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--colorW);
}

.box5-content{
    display: flex;
    flex-direction: column;
    padding-top: 64px;
}

.box5-content strong{
    color: var(--colorW);
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    line-height: 48px;
    text-align: center;
    margin-bottom: 25px;
}

.box5-content span{
    width: 56px;
    height: 2px;
    margin: 0 auto;
    border-radius: 6px;
    border: 1px solid var(--colorW);
    background-color: var(--colorW);
}

.box5-div{
    display: flex;
    justify-content: space-between;
}

.content-box5{
    display: flex;
    align-items: center;
    flex: 40%;
    margin-top: 66px;
    margin-left: 118px;
    padding-bottom: 79px;
}

.content-box5-info{
    margin-left: 29px;
}

.content-box5-info strong{
    color: var(--colorW);
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
}

.content-box5-info p{
    color: var(--colorW);
    font-family: var(--fondMulish);
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    margin-top: -18px;
}

.box5-title{
    /* text-align: center; */
    margin-top: 66px;
    flex: 60%;
    padding-top: 10px;
    padding-right: 145px;
    padding-left: 70px;
}

.box5-title a{
    color: var(--colorW);
    font-family: var(--fondMulish);
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
}

.box6{
    margin: 0 auto;
    width: 70%;
    height: 85%;
    padding-bottom: 201px;
}

.box6-content{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.box6-content strong{
    color: var(--colorBlack);
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 25px;
    /* text-align: center; */
}

.box6-content span{
    width: 56px;
    height: 2px;
    margin-top: 26px;
    border: 1px solid var(--colorBlack);
    margin: 0 auto;
    margin-bottom: 80px;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card-1{
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
    margin-bottom: 35px;
    border-radius: 20px;
}

.card1-img img{
    width: 100%;
}

.card1-title{
    padding-top: 21px;
    padding-left: 33px;
    padding-right: 50px;
}

.card1-title strong{
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
}
.card1-title p{
    color: var(--colorGrey);
    font-family: var(--fondMulish);
    font-weight: 300;
    margin-top: 12px;
    font-size: 16px;
    line-height: 28px;
}

.card-1 a{
    font-family: var(--fondMulish);
    font-weight: 600;
    margin-right: 28px;
    margin-top: 25px;
    margin-left: 33px;
    margin-bottom: 35px;
    text-decoration: none;
    color: #4089ED;
}

.card-2{
    width: 31%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
    margin-bottom: 35px;
    border-radius: 20px;
}

.card2-img img{
    width: 99%;
    /* height: 99%; */
}

.card2-title{
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-left: 33px;
    padding-right: 52px;
}

.card2-title strong{
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
}
.card2-title p{
    color: var(--colorGrey);
    font-family: var(--fondMulish);
    font-weight: 300;
    margin-top: 12px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 28px;
}

.card-2 a{
    font-family: var(--fondMulish);
    font-weight: 600;
    margin-right: 28px;
    margin-top: 25px;
    margin-left: 33px;
    margin-bottom: 35px;
    text-decoration: none;
    color: #4089ED;
}

.card-3{
    width: 31.2%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
    margin-bottom: 35px;
    border-radius: 20px;
}

.card3-title{
    padding-top: 21px;
    padding-left: 32px;
    padding-right: 62px;
}

.card3-title strong{
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
}
.card3-title p{
    color: var(--colorGrey);
    font-family: var(--fondMulish);
    font-weight: 300;
    margin-top: 12px;
    font-size: 16px;
    line-height: 28px;
}

.card-3 a{
    font-family: var(--fondMulish);
    font-weight: 600;
    margin-right: 28px;
    margin-top: 25px;
    margin-left: 32px;
    margin-bottom: 35px;
    text-decoration: none;
    color: #4089ED;
}

.btn-wiew{
    border: 1.4px solid var(--colorMainBlue);
    border-radius: 55px;
    padding: 1px 51px;
    text-align: center;
    background: var(--colorW);
    margin-top: 49px;
    margin-left: 480px;
}

.btn-wiew a{
    color: var(--colorMainBlue);
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#67C3F3, #5A98F2);
    width: 100%;
    margin-left: 0;
    position: relative;
}

.icon4{
    position: absolute;
    bottom: 0;
}

.footer-b1{
    padding-top: 134px;
    padding-left: 190px;
    width: 35.5%;
    display: flex;
    flex-direction: column;
}

.footer-head {
    display: flex;
    align-items: center;
}

.footer-head p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorW);
    color: var(--colorMainBlue);
    width: 44.06px;
    height: 41px;
    border-radius: 25px;
    font-size: 26px;
    font-family: var(--fondMulish);
    font-weight: 700;
}

.footer-head h1 {
    margin-left: 12px;
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 24px;
    color: var(--colorW);
    width: 115px;
    height: 30px;
    margin-top: 6px;
}

.footer-content{
    padding-top: 25px;
    margin-bottom: 128px;
}

.footer-content p{
    font-family: var(--fondMulish);
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: var(--colorW);
    margin-bottom: 35px;
}

.footer-content strong {
    font-family: var(--fondMulish);
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: var(--colorW);
}

.footer-nav1{
    display: flex;
    flex-direction: column;
    margin-top: 123px;
}

.footer-nav1 strong, .footer-nav2 strong, .footer-nav3 strong{
    color: var(--colorW);
    font-family: var(--fondMulish);
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
}

.footer-nav2{
    display: flex;
    flex-direction: column;
    margin-top: 123px;
}

.footer-nav1 li, .footer-nav2 li, .footer-nav3 li{
    display: flex;

}


.footer-nav1 li a, .footer-nav2 li a, .footer-nav3 li a{
    text-decoration: none;
    color: var(--colorW);
    font-family: var(--fondMulish);
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
}

.footer-nav3{
    display: flex;
    flex-direction: column;
    margin-top: 123px;
    margin-right: 300px;
}