:root{
    --fondMulish: 'Mulish', sans-serif;



    --colorMainBlue:  #458FF6;
    --colorW: #ffffff;
    --colorGrey: #7D7987;
    --colorNav: #1f1534;
    --colorText: #7D7987;
    --colorBlack: #000000;
    --colorIcon: #97C3F9;

    --bgColorBox: #e5e9f63f;
    
}
